.pie-pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-empresa{
    display: flex;
    background: #EAF2FD;
    width: 80%;
    height: 280px;
    padding: 5% 10%;
}

.sobre-empresa__logo{
    width: 25%;
    align-self: flex-start;
}

.sobre-empresa__nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 100%;
}

.sobre-empresa__nav--link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #464646;
}

.sobre-empresa__formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.sobre-empresa__formulario h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.sobre-empresa__formulario--input{
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
}

.sobre-empresa__formulario--textarea{
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
}

.sobre-empresa__formulario--boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 144px;
    height: 51px;
    left: 0px;
    top: 189px;
    background: #2A7AE4;
    margin: 8px 0px;

    color: #FFFFFF;
}

.pie-pagina p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 280px;
    color: #464646;
    margin: 32px 0px;
}